.navbar{
    background-color:#FFEDD9;
}
.thod{
    margin-left: -27%;
}

.tyu{
    margin-left: -6%;
    color: orange;
    text-decoration: none;
}
.vuj{
    text-decoration: none;
    color: orange;
}